body {
background: #cfcfcf;
  min-width: 0px;
}

#header {
  padding: 20px 0px;
  position: relative;
  width: 100%;
  background-color: #cfcfcf;
  color: #cfcfcf;
}

#header a.logo {
  width: 80%;
}

#header a.logo img {
  width: 100%;
}

#mobile-navigation {
  background: rgba(0, 0, 0, 0) url("../images/mobile-menu.png") no-repeat scroll 0px 0px;
  display: block;
  height: 50px;
  margin: 30px auto 0px;
  padding: 0px;
  width: 50px;
}

#header ul {
  margin: 0px;
  padding: 0px 0px 0px;
}

#header ul li {
  display: inline;
  margin: 0px;
  padding: 0px;
  position: relative;
}

#header > ul > li:first-child {
  border: 0px none;
}

#header ul li a {
  color: #252525;
  display: inline;
  font-family: Franklin Gothic Medium;
  font-size: 14px;
  font-weight: normal;
  margin: 0px;
  padding: 0px 20px;
  text-decoration: none;
  text-transform: uppercase;
}

#header ul li a:hover, #header ul li.selected a {
  color:rgb(6 185 160 / 75%);
}

#header ul ul {
  display: none;
  border: 0px none;
  height: auto;
  left: 0px;
  margin: 0px;
  position: relative;
  width: 100%;
}

#header ul ul li a {
  text-indent: 15px;
}

#header ul li span {
  background: rgba(11, 163, 156, 0.9) url("../images/mobile-expand.png") no-repeat scroll 0px 0px;
  border-left: 1px solid white;
  display: block;
  height: 49px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 50px;
}

#body {
  width: 100%;
 
}

#body #featured img {
    max-width: 100%;
    min-width: 300px;
    height: auto;
}

#body h1 {
  display: block;
  font-size: 20px;
  margin: 0px 0px;
  width: 90%;
  padding: 3%;
}

#body h1 span {
  display: block;
  padding: 3%;
  width: 90%;
}

#body > div {
  padding: 0px 5%;
  width: 90%;
}

#body > div img {
  margin: 24px 0px 30px;
  width: 98%;
}

#body > div .article {
  padding: 0px;
  width: 100%;
}

#body > div .article h2, #body > div .article h4 {
  font-size: 18px;
  font-weight: bold;
}

#body #featured {
  overflow: hidden;
  margin: 0px 0px 0px;
}

#body #featuredContacts {
  overflow: hidden;
  margin: 0px 0px 0px;
}

#body #featuredContacts #contact{
display: inline-block;
  margin: auto;
  width: 90%;
  padding: 10px;
}


#body #featured #home {
margin: -148px 0%;
  padding: 0px 0px 0px 0px;
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 5%;
background: #252525
}




#body #featured #contact {
margin: -48px 0%;
  padding: 0px 0px 0px 0px;
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 5%;
}

#body #featured div h2 {
  font-size: 14px;
  font-weight: normal;
  margin: 50px 0px 10px;
  padding: 8px 5px;
}

#body #featured #home span {
  display: block;
  font-size: 19px;
      margin-top: -50px;
margin-bottom: 40px;
  padding: 10px;
}

#body #featured #contact span {
  display: block;
  font-size: 19px;
      margin-top: -50px;
margin-bottom: 40px;
  padding: 10px;
}


#body #featured div a {
  font-size: 14px;
  margin: 5px 0px 0px;
  padding: 10px;
}

#body > ul {
  overflow: visible;
  padding: 0px 5%;
  width: 90%;
}

#body ul.gallery {
  padding: 5% 0px;
  overflow: hidden;
  width: 100%;
}

#body > ul li {
  float: none;
  margin: 0px;
  width: 100%;
}

#body ul.gallery li {
  float: left;
  margin: 0px 0px 5% 10%;
  width: 35%;
}

#body > ul li a img {
  width: 98%;
}

#body > ul li a span {
  padding: 15px 0px;
}

#body div ul {
  margin: 0px;
  padding: 20px 0px 0px;
  width: 100%;
}

#body div ul li {
  overflow: visible;
  padding: 0px 0px 20px;
  width: 99%;
}

#body div ul li .figure {
  border: 0px none;
  display: block;
  float: none;
  margin: 0px 0px 20px;
  width: 100%;
}

#body div ul li .figure img {
  width: 100%;
}

#body div ul li div {
  float: none;
  padding: 0px;
  width: 100%;
}

#body div ul li div a.more:hover {
  height: 14px;
  line-height: 14px;
}

#body form {
  width: 100%;
}

#body form input, #body form textarea {
  margin: 0px 0px 20px;
  padding: 10px;
  width: 84%;
}

#body form #send {
  padding: 10px;
}

#footer {
  padding: 0px 0px 25px;
}

#footer div {
float:none;
  overflow: visible;
  width: 90%;

}

#footer div p {
  float: none;
  margin: 0px;
  text-align: center;
}

#footer div ul {
  margin: 0px auto;
  width: 156px;
  text-align: center;

}

#footergallery {
  padding: 10px 0px 25px;
}

#footergallery div {
float:none;
  overflow: visible;
  width: 90%;

}

#footergallery div p {
  float: none;
  margin: 0px;
  text-align: center;
}

#footergallery div ul {
  margin: 0px auto;
  width: 156px;
  text-align: center;

}

#wrapper{
background: #252525;
    text-align:center;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.aboutleft{
background: #252525;
    display: inline-block;
    vertical-align:top;
    width: 52%;
	color: white;
padding-top: 20px;
font-size: 10px;
 text-align: left;
}
.aboutright{
background: #252525;
    display: inline-block;
    vertical-align:top;
    width: 45%;
	color: white;
padding-top: 20px;
font-size: 10px;
 text-align: left;
}

#wrapper a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

#wrapper a:hover {
 color: rgb(6 185 160 / 75%);
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
 color: white;
  background-color: transparent;
  text-decoration: none;
}




